.Rproj.user
.Rhistory
.RData
*.zip
.DS_Store

# some inner files
data/datasets/
data/datasets.zip
data/meta_features.RData

# not adding raw results because of size (too mant GB :/)
data/hptuning_full_space/classif.rpart/results/
data/hptuning_full_space/classif.J48/results/

info/
output/
tests/
old/
